body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #b6faff;
}

header {
    background-color: #50dbdb;
    color: #b6faff;
    padding: 10px 0;
    text-align: center;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

section {
    background-color: #50dbdb;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}